/* Tablets */
@media screen and (min-width: 768px) and (max-width: 980px)
{
}

/* Android Landscape */
@media screen and (max-width: 768px)
{
}

/* Android Portrait | iPhone Landscape */
@media screen and (max-width: 480px)
{
}

/* iPhone Portrait */
@media screen and (max-width: 320px)
{
}

@font-face { 
    font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

@font-face { 
    font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html { 
    height: 100%;
}

body {
    font: normal 14px arial, sans-serif;
    background: #eeeeee;
    color: #444;
}

* { 
    margin: 0;
    padding: 0;
}
