/* Tablets */
@media screen and (min-width: 768px) and (max-width: 980px)
{
}

/* Android Landscape */
@media screen and (max-width: 768px)
{
}

/* Android Portrait | iPhone Landscape */
@media screen and (max-width: 480px)
{
}

/* iPhone Portrait */
@media screen and (max-width: 320px)
{
}

@font-face { 
    font-family: Yanone Kaffeesatz; 
    src: url('/fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('/fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

@font-face { 
    font-family: News Cycle; 
    src: url('/fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('/fonts/NewsCycle-Regular.ttf'); 
} 

html { 
    height: 100%;
}

body {
    font: normal 14px arial, sans-serif;
    background: #eeeeee;
    color: #444;
}

* { 
    margin: 0;
    padding: 0;
}


p { 
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
}

h1, h2, h3 { 
  font: normal 140% arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #222;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
  color: #F67400;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  color: #F67400;
  padding: 0 0 5px 0;
  font: normal 130% arial, sans-serif;
}

h5, h6 { 
  color: #555;
  font: italic 95% arial, sans-serif;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}

#logo h1, #logo h2 { 
  font: normal 320% 'News Cycle', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 0;
  color: #444;
  text-decoration: none;
}

#logo_text h1 a .logo_colour { 
  color: #09D4FF;
}

#logo_text a:hover .logo_colour { 
  color: #444;
}

#logo_text h2 { 
  font-size: 140%;
  padding: 0 0 0 0;
  color: #222;
}

ul#nav ul { 
  background: #ddd;
  margin-top: 5px;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding: 7px 25px 6px 25px;
  font:'Yanone Kaffeesatz', arial, sans-serif;
  text-shadow: 1px 1px #fff;
  text-decoration: none;
  color: #222;
  margin-right: 2px;
}