#gear-container {
    position: relative;
    height: 300px;
}

/* Animations */
@-webkit-keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes clockwise {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes counter-clockwise {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes counter-clockwise {
    0% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

/* /Animations */

.gear {
    background: url('/images/g1.png') no-repeat 0 0;
    position: absolute;
    float: none;
    text-align: center;
    height: 85px;
    width: 85px;
    
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

#gear1 {
    top: 0px;
    left: 0px;
    -webkit-animation-name: clockwise;
    -webkit-animation-duration: 5s;

    -moz-animation-name: clockwise;
    -moz-animation-duration: 5s;

}

#gear2 {
    top: 49px;
    left: 58px;
    -webkit-animation-name: counter-clockwise;
    -webkit-animation-duration: 5s;

    -moz-animation-name: counter-clockwise;
    -moz-animation-duration: 5s;
}

#gear3 {
    top: 23px;
    left: 128px;
    -webkit-animation-name: clockwise;
    -webkit-animation-duration: 5s;

    -moz-animation-name: clockwise;
    -moz-animation-duration: 5s;
}

