$background_color: #27ae60;
$background_compliment_color: #2ecc71;
$header_color: #393a3b;
$light_text_color: #eee;

// global element styles
body {
    background-color: $background_color;
    h1,h2,h3,h4 {
        color: $header_color;
    }

    h1 {
        font-size: 50px;
    }

    p {
        color: $light_text_color;
    }
}

div#left {
    @media (min-width:992px) {
        margin-top: 13%;
    }

    #nav-container {
        // some bootstrap style overrides

        &.navbar-default {
            background-color: $background_color;
            border-color: transparent;
            .navbar-toggle {
                background-color: transparent;//$background_compliment_color;
                border-color: transparent;
                .icon-bar {
                    background-color: $background_compliment_color;
                }
            }

            .navbar-collapse {
                border-color: transparent;
            }
        }

        div.logo {
            //margin: 40px 0 20px;
        }

        ul {
            padding-left: 0px;

            li {
                list-style: none;
                float: none;
                color: $light_text_color;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }


    p.page_content {
        font-size: 24px;
        font-weight: 500px;
    }

    .page-header {
        border-bottom: none;
        margin-top: 0;
    }
}

div#right {
//    float: left;
}
