body {
  background-color: #27ae60; }
  body h1, body h2, body h3, body h4 {
    color: #393a3b; }
  body h1 {
    font-size: 50px; }
  body p {
    color: #eeeeee; }

@media (min-width: 992px) {
  div#left {
    margin-top: 13%; } }
div#left #nav-container nav ul {
  padding-left: 0px; }
  div#left #nav-container nav ul li {
    list-style: none;
    color: #eeeeee;
    font-weight: bold;
    font-size: 14px; }
div#left p.page_content {
  font-size: 24px;
  font-weight: 500px; }
div#left .page-header {
  border-bottom: none;
  margin-top: 0; }
