body {
  background-color: #27ae60; }
  body h1, body h2, body h3, body h4 {
    color: #393a3b; }
  body h1 {
    font-size: 50px;
    font-weight: bold; }
  body h2 {
    font-size: 25px;
    color: #cccccc; }
  body p {
    color: #eeeeee; }

@media (min-width: 992px) {
  div#left {
    margin-top: 13%; } }
div#left #nav-container.navbar-default {
  background-color: #27ae60;
  border-color: transparent; }
  div#left #nav-container.navbar-default .navbar-toggle {
    background-color: transparent;
    border-color: transparent;
    z-index: 100; }
    div#left #nav-container.navbar-default .navbar-toggle .icon-bar {
      background-color: #2ecc71; }
  div#left #nav-container.navbar-default .navbar-collapse {
    border-color: transparent; }
    div#left #nav-container.navbar-default .navbar-collapse ul.navbar-nav a {
      color: inherit;
      margin: inherit;
      padding: inherit; }
div#left #nav-container ul {
  padding-left: 0px; }
  div#left #nav-container ul li {
    list-style: none;
    float: none;
    color: #eeeeee;
    font-weight: bold;
    font-size: 14px; }
div#left p.page_content {
  font-size: 24px;
  font-weight: 500px; }
div#left .page-header {
  border-bottom: none;
  margin-top: 0; }
