{% extends "layout/base.html" %}

{% block header %}Hello{% endblock %}

{% block content %}
        <div>
            <p>
                Hello. This is my personal site to play around on, blog (when I get that set up), put on business cards, whatever. Please don't mistake
                my casual tone with a lack of professionalism. As much as I want to create a place to point others to
                for professional purposes, I also want a place to feel comfortable exploring tech topics and communicating
                with others. I'm just getting this site set up so I imagine very people even know it exists. Probably a good thing right now I guess :)
            </p>
        </div>

{% endblock %}
